@media(min-width:1000px){
    #subtitulo{
        width: 80%;
    }
    }
      
    @media(min-width:750px){
        #logo_Orkut_interna{
            display: none;
        }
        #logo_Orkut_externa{
            display: block;
        }
        #logo_Orkut_externa img{
            width: 50%;
        }
        #login_container{
            width: 50%;
        }
        #logo_Orkut_externa{
            width: 50%;
        }
        #subtitulo{
            display: block;
            font-weight: 500;
            font-size: 20px;
            width: 80%;
        }
    }