*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    padding: 0;
    border: 0;
    list-style: none;
    text-decoration: none;
}

:root{
    background-color: #F0c9ea;
    --primaryColor : #EA2490;
    font-family: 'Segoe UI', Helvetica, Arial, Verdana, sans-serif;
}
