*{
    padding: 0;
    margin: 0;
    list-style: none;
    vertical-align: baseline;
    border: 0;
    color: #FFF;
    font-family: "Poppins",sans-serif;
    font-size: 14px;
    text-decoration: none;
}