@import url(reset.css);
@import url(global.css);
@import url('../components/pills.css');
@import url('link-button.css');
@import url('gallery.css');

/* Estrutura da página começa */
#wrapper{
    display: flex;
    height: 100vh;
    flex-flow: row nowrap;
}
body{
    overflow: hidden;
}
aside{
   width: 100px;
   height: 100%;
   background-color: rgba(0, 0, 0, 0.091);
   display: flex;
   justify-content: center;
   align-items: center;
   position: fixed;
   z-index: 100;
}
main{
    height: 100%;
    width: 100%;
    padding-left: 8rem;
    position: relative;
    background-size: cover;
}

/* Estrutura da página termina */
#controller{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        position: relative;
        gap: 5rem;
}
.button_controller{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid white;
    background-color: black;
    border-radius: 50%;
    width: 2.5rem;
    height: 2.5rem;
    font-weight: bold;
    cursor: pointer;
    position: relative;
    z-index: 1;
}
.button_controller:hover,.button_controller.active{
    background-color: white;
    color: black;
}
#controller_line{
    height: 100%;
    width: 2px;
    background-color: white;
    position: absolute;
}
#main-section-top{
    height: 60vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

#main-section-bottom{
    height: 40vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

#logo img{
    width: 20rem;
    margin-top: 1rem;
    margin-left: 0;
    margin-bottom:1rem ;
}

#description{
    background-color:rgba(0,0,0,.7);
    max-width: 50%;
    padding: 1.25rem;
    border-radius: 10px;
    min-width: 334px;
}
#description-text{
    color: white;
    text-align: justify;
}
.pills{
    margin-bottom: .7rem;
}
#links{
    padding: 20px;
    padding-left: 0;
}
#links ul {
    display: flex;
    flex-direction: row;
}
@media screen and (max-width:513px){
    #description{
        min-width: 300px;
    }
}



